<div class="row" *ngFor="let section of sections">
  <goa-accordion [heading]="section.heading" headingsize="small">

    <div slot="headingcontent">
      <goa-badge *ngIf="hasUpdates(section)" type="important" content="Active Filter"/>
    </div>


    <dl class="accordion-example">
      <ng-container *ngFor="let item of section.items">
        <div class="row-container">
          
          <!-- Main toggle button -->
          <button
            class="filter-buttons"
            (click)="toggle(item.value)"
            [disabled]="
              !item.selected && filterSvc.accordionChips().length >= 2
            "
          >
            {{ item.label }}

            <goa-spacer hspacing="m"></goa-spacer>



            <goa-badge
              *ngIf="item.selected"
              type="dark"
              content="Selected"
            ></goa-badge>
          </button>

          <!-- Separate “remove” icon -->
          <goa-icon-button
            *ngIf="item.selected"
            variant="color"
            size="small"
            icon="close-circle"
            ariaLabel="Remove icon"
            (click)="
              toggle(item.value);
              $event.stopPropagation()
            "
          ></goa-icon-button>

        </div>
      </ng-container>
    </dl>
  </goa-accordion>
</div>