@use '@angular/material' as mat;


title{
  display: flex;
  flex-direction: row;
}



mat-chip-row  {
    background-color: white !important;
    border: gainsboro 1px solid !important;
  }

  .mat-mdc-chip-action {
    padding-left: 5px;
    padding-right: 5px;
  }

  mat-chip-list {
    gap : 5px;
  }

  .filter-buttons{
    display: flex !important;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
  }