<goa-container accent="thin" padding="relaxed" width="full">


  <div class="flex-container" *ngIf="selectedChartType === 'DEF'">

    <div class="row">

      <div class="col-7">

      </div>


        <div class="col-5">
          <div class="row">
            <div class="col">
              <goa-form-item label="Display Type" labelSize="small">
                <div class="modern-chart-toggles">
                  <mat-button-toggle-group 
                    name="chartType" 
                    aria-label="Display Type" 
                    [value]="selectedChartType" 
                    (change)="onChartTypeChange($event)"
                    [disabled]="isLoadingData">
                    <mat-button-toggle value="ProductSpace">Product Space</mat-button-toggle>
                    <mat-button-toggle value="Feasible">Feasible</mat-button-toggle>
                    <mat-button-toggle value="Trends">Trends</mat-button-toggle>
                    <mat-button-toggle value="Exports">Exports</mat-button-toggle>
                    <mat-button-toggle value="ECI">ECI</mat-button-toggle>
                    <mat-button-toggle value="DEF">Definitions</mat-button-toggle>
                  </mat-button-toggle-group>
                </div>
              </goa-form-item>
            </div>
          </div>
                  <goa-spacer vspacing="m"></goa-spacer>

        </div>

        <goa-spacer vspacing="m"></goa-spacer>

        </div>


    <div class="row" >
      <div class="col-12">
        <app-definitions>
        </app-definitions>
      </div>
    </div>

  </div>


  <div class="flex-container" *ngIf="selectedChartType !== 'DEF'">

    <!-- First Row: Dropdowns + Chart Type -->
    <div class="row">
      <div class="col-7">
        <div class="row">
          <div class="col">
            <div class="data-setting-wrapper">
              <div class="data-setting-component">
                <goa-form-item label="Region" labelSize="regular">
                  <goa-dropdown name="region" 
                    [value]="currentRegion"
                    matTooltip="Select region" 
                    matTooltipPosition="above" 
                    width="180px"
                    (_change)="onChange($event, 'region')"
                    [disabled]="isLoadingData"
                  >
                    <goa-dropdown-item value="Alberta" label="Alberta"></goa-dropdown-item>
                    <goa-dropdown-item value="Canada" label="Canada"></goa-dropdown-item>
                    <goa-dropdown-item value="British Columbia" label="British Columbia"></goa-dropdown-item>
                    <goa-dropdown-item value="Manitoba" label="Manitoba"></goa-dropdown-item>
                    <goa-dropdown-item value="New Brunswick" label="New Brunswick"></goa-dropdown-item>
                    <goa-dropdown-item value="Newfoundland and Labrador" label="Newfoundland and Labrador"></goa-dropdown-item>
                    <goa-dropdown-item value="Nova Scotia" label="Nova Scotia"></goa-dropdown-item>
                    <goa-dropdown-item value="Ontario" label="Ontario"></goa-dropdown-item>
                    <goa-dropdown-item value="Prince Edward Island" label="Prince Edward Island"></goa-dropdown-item>
                    <goa-dropdown-item value="Quebec" label="Quebec"></goa-dropdown-item>
                    <goa-dropdown-item value="Saskatchewan" label="Saskatchewan"></goa-dropdown-item>
                  </goa-dropdown>
                </goa-form-item>
              </div>
            </div>
          </div>
          
          <goa-spacer hspacing="m"></goa-spacer>

          <div class="col" *ngIf=" selectedChartType !== 'Trends' && selectedChartType !== 'ECI' ">
            <div class="data-setting-wrapper">
              <div class="data-setting-component">
                <goa-form-item label="Year" labelSize="regular">
                  <goa-dropdown name="year" 
                    [value]="currentYear"
                    matTooltip="Select year" 
                    matTooltipPosition="above" 
                    width="180px"
                    (_change)="onChange($event, 'year')"
                    [disabled]="isLoadingData"
                  >
                    <!-- Dynamic years based on available data -->
                    <goa-dropdown-item 
                      *ngFor="let year of availableYears" 
                      [value]="year" 
                      [label]="year">
                    </goa-dropdown-item>
                  </goa-dropdown>
                </goa-form-item>
              </div>
            </div>
          </div>


          <goa-spacer hspacing="m"></goa-spacer>

          <div class="col"  *ngIf=" selectedChartType !== 'ECI' ">
            <div class="data-setting-wrapper">
              <div class="data-setting-component">
                <goa-form-item label="Grouping" labelSize="regular">
                  <goa-dropdown name="grouping" 
                    [value]="getGroupingValue()"
                    matTooltip="Select HS digit grouping" 
                    matTooltipPosition="above" 
                    width="180px"
                    (_change)="onChange($event, 'grouping')"
                    [disabled]="isLoadingData"
                  >
                    <goa-dropdown-item value="HS2" label="HS 2" *ngIf=" selectedChartType !== 'ProductSpace' "></goa-dropdown-item>
                    <goa-dropdown-item value="HS4" label="HS 4"></goa-dropdown-item>
                    <goa-dropdown-item value="NAICS2" label="NAICS 2"*ngIf=" selectedChartType !== 'ProductSpace' "></goa-dropdown-item>
                    <goa-dropdown-item value="NAICS4" label="NAICS 4"></goa-dropdown-item>

                  </goa-dropdown>
                </goa-form-item>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-5">
        <div class="row">
          <div class="col">
            <goa-form-item label="Display Type" labelSize="small">
              <div class="modern-chart-toggles">
                <mat-button-toggle-group 
                  name="chartType" 
                  aria-label="Display Type" 
                  [value]="selectedChartType" 
                  (change)="onChartTypeChange($event)"
                  [disabled]="isLoadingData">
                  <mat-button-toggle value="ProductSpace">Product Space</mat-button-toggle>
                  <mat-button-toggle value="Feasible">Feasible</mat-button-toggle>
                  <mat-button-toggle value="Trends">Trends</mat-button-toggle>
                  <mat-button-toggle value="Exports">Exports</mat-button-toggle>
                  <mat-button-toggle value="ECI">ECI</mat-button-toggle>
                  <mat-button-toggle value="DEF">Definitions</mat-button-toggle>
                </mat-button-toggle-group>
              </div>
            </goa-form-item>
          </div>
        </div>
      </div>
    </div>

    <goa-spacer vspacing="m"></goa-spacer>
    <div class="row">
      <div class="col-12">
        <goa-divider></goa-divider>
      </div>
    </div>
    <goa-spacer vspacing="m"></goa-spacer>

    <!-- Second Row: Title + Stats + Controls -->
    <div class="row align-items-center space-between">
      <div class="col">
        <goa-text mt="none" mb="none" as="h4">
          Export Dashboard - {{currentRegion}} ({{currentYear}})
        </goa-text>
      </div>

      <div class="col">
        <goa-text mt="none" mb="none" as="h5">
          Total Value: {{totalValue}} USD
        </goa-text>
      </div>

      <div class="col">
        <goa-text mt="none" mb="none" as="h5">
         Products: {{productCount | number}}
        </goa-text>
      </div>



        <div class="col" *ngIf=" selectedChartType === 'Feasible' ">
          <div class="filter-buttons-wrapper">
                <form>
                <goa-form-item >
                  <goa-radio-group 
                    orientation="horizontal" 
                    name="displayFilter" 
                    [value]="currentDisplayFilter" 
                    (_change)="onFilterChange($event)"
                    >
                    <goa-radio-item [value]="DisplayMode.DEFAULT" label="All Data"></goa-radio-item>
                    <goa-radio-item [value]="DisplayMode.FRONTIER" label="Frontier"></goa-radio-item>
                    <goa-radio-item  [value]="DisplayMode.FOUR_QUADS" label="Quadrants"></goa-radio-item>
                  </goa-radio-group>
                </goa-form-item>
              </form>
          </div>
        </div>

      <div class="col" *ngIf=" selectedChartType === 'ProductSpace' ">
          <div class="filter-buttons-wrapper">
                <form>
                <goa-form-item >
                  <goa-radio-group 
                    orientation="horizontal" 
                    name="displayFilter" 
                    [value]="currentDisplayFilter" 
                    (_change)="onFilterChange($event)"
                    >
                    <goa-block gap="2xs" direction="row">
                    <goa-radio-item value="default" label="All Data"></goa-radio-item>
                    <goa-radio-item value="advantage" label="Advantage"></goa-radio-item>
                    <goa-radio-item value="feasible" label="Feasible"></goa-radio-item>
                    </goa-block>
                  </goa-radio-group>
                </goa-form-item>
              </form>
          </div>
        </div>

      <!-- Enhanced Search with Autocomplete -->
      <div class="col" *ngIf=" selectedChartType === 'ProductSpace' || selectedChartType === 'Feasible'">
        <goa-form-item>
          <div class="search-container-goa" [class.has-suggestions]="showSuggestions">
            <!-- Search Input -->
            <goa-input 
              #searchInput
              name="search" 
              type="search" 
              [placeholder]="searchPlaceholder"
              width="200px"
              leadingicon="search"
              [trailingicon]= "currentSearchQuery.length > 0 ? 'close' : 'null'"
              handletrailingiconclick=true
              [value]="currentSearchQuery"
              (_trailingIconClick)="clearSearch()"
              (_input)="onSearchInput($event)"
              (_change)="onSearchChange($event)"
              (keydown)="onSearchKeyDown($event)"
              (blur)="onSearchBlur()"
              (focus)="onSearchFocus()"
              [disabled]="isSearchLoading">
            </goa-input>

   

            <!-- Autocomplete Suggestions Dropdown -->
            <div class="goa-suggestions-dropdown" *ngIf="showSuggestions && searchSuggestions.length > 0">
              <!-- Suggestions Header -->
              <div class="suggestions-header-goa">
                <goa-text size="small" color="secondary">
                  {{ searchSuggestions.length }} suggestion{{ searchSuggestions.length !== 1 ? 's' : '' }} found
                </goa-text>
              </div>
              
              <!-- Suggestions List -->
              <div class="suggestions-list-goa">
                <div
                  *ngFor="let suggestion of searchSuggestions; let i = index"
                  class="suggestion-item-goa"
                  [class.selected]="i === selectedSuggestionIndex"
                  (click)="onSuggestionClick(suggestion)"
                  (mouseenter)="onSuggestionMouseEnter(i)"
                  [attr.role]="'option'"
                  [attr.aria-selected]="i === selectedSuggestionIndex"
                >
                  <div class="suggestion-content-goa">
                  
                    
                    <!-- Suggestion Text -->
                    <div class="suggestion-text-goa">
                      <div class="suggestion-main-text-goa">
                        {{ getSuggestionDisplayText(suggestion) }}
                      </div>
                      
                      <!-- Additional Info for HS Codes -->
                      <div class="suggestion-meta-goa" *ngIf="suggestion.type === 'hs_code'">
                        <goa-text size="small" color="secondary">
                          HS Code: {{ suggestion.hsCode }}
                        </goa-text>
                      </div>
                      
                      <!-- Additional Info for Descriptions -->
                      <div class="suggestion-meta-goa" *ngIf="suggestion.type === 'description' && suggestion.hsCode">
                        <goa-text size="small" color="secondary">
                          HS Code: {{ suggestion.hsCode }}
                        </goa-text>
                      </div>
                    </div>
                    
                    <!-- Suggestion Type Badge -->
                    <div class="suggestion-badge-goa">
                      <goa-badge 
                        type="information"
                        [content]="suggestion.type === 'hs_code' ? 'Code' : suggestion.type === 'description' ? 'Product' : 'Name'">
                      </goa-badge>
                    </div>
                  </div>
                </div>
              </div>
              
              <!-- No Results Message -->
              <div class="no-suggestions-goa" *ngIf="currentSearchQuery.length > 0 && searchSuggestions.length === 0">
                <goa-text size="small" color="secondary">
                  <goa-icon name="search"></goa-icon>
                  No matches found for "{{ currentSearchQuery }}"
                </goa-text>
              </div>
              
            </div>
          </div>
        </goa-form-item>
      </div>
    </div>

    <!-- Loading/Error States -->
    <div class="row" *ngIf="isLoadingData || dataError">
      <div class="col-12">
        <goa-spacer vspacing="m"></goa-spacer>
        <goa-notification *ngIf="isLoadingData" type="information">
          <span slot="heading">Loading data...</span>
          <p>Fetching data for {{currentRegion}} ({{currentYear}})</p>
        </goa-notification>
        
      </div>
    </div>

    <goa-spacer vspacing="m"></goa-spacer>

    <!-- Third Row: Charts -->
    <div class="row" *ngIf="selectedChartType === 'ProductSpace'">
      <div class="col-12" style="position: relative;">
        
        <app-product-space-chart 
          #productSpaceChart
          [showGroupLabels]="showLabels"
          [customGroupLabels]="customLabels"
          [tooltipEnabled]="true"
          [highlightConnections]="true"
          (nodeSelected)="onNodeSelected($event)"
          (rowHighlight)="onRowHighlight($event)"
          >
        </app-product-space-chart>

        <!-- Floating Info Panel for Selected Node -->
        <div class="floating-info-panel" *ngIf="selectedNode">
          <div class="card">

            <div class="card-header">
              <goa-text as="h4" mb="none" >Selected Product: {{selectedNode!.node.id}}</goa-text>

              <button class="close-btn" (click)="clearSelection()" type="button" title="Close">
                <span>&times;</span>
              </button>

            </div>
            <div class="card-body p-3">
              <p class="mb-2"><strong>Cluster:</strong> {{selectedNode!.node.cluster_name}}</p>
              <p class="mb-2"><strong>Value:</strong> {{selectedNode!.data?.Value | number}}</p>
              <p class="mb-2"><strong>RCA:</strong> {{selectedNode!.data?.rca | number:'1.4-4'}}</p>
              <p class="mb-2"><strong>Description:</strong> {{selectedNode!.data?.description}}</p>
              <p ><strong>Industry:</strong> {{selectedNode!.data?.naics_description}}</p>

              <p class="mb-2" *ngIf="selectedNode.connectedProducts.length > 0">
                <strong>Connected Products:</strong> {{selectedNode!.connectedProducts.join(', ')}}
              </p>


            </div>
           
          </div>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="selectedChartType === 'Feasible'">
      <div class="col-12" style="position: relative;" >
        <app-feasible-chart 
          #feasibleChart
          [showTooltips]="true"
          [enableIconFiltering]="true"
          [enableTracking]="true"
          (chartDataLoaded)="feasibleStats = $event"
          (nodeSelected)="onNodeSelected($event)"

        >
        </app-feasible-chart>

      <!-- Floating Info Panel for Selected Node -->
      <div class="floating-info-panel" *ngIf="selectedNode">
        <div class="card">

          <div class="card-header">
            <goa-text as="h4" mb="none" >Selected Product: {{selectedNode!.node.hs2}}</goa-text>

            <button class="close-btn" (click)="clearSelection()" type="button" title="Close">
              <span>&times;</span>
            </button>

          </div>
          <div class="card-body p-3">
            <p class="mb-2"><strong>Value:</strong> {{selectedNode!.node?.value | number}}</p>
            <p class="mb-2"><strong>PCI:</strong> {{selectedNode!.node.pci}}</p>
            <p class="mb-2"><strong>Distance:</strong> {{selectedNode!.node?.distance | number}}</p>
            <p class="mb-2"><strong>RCA:</strong> {{selectedNode!.node?.rca | number:'1.4-4'}}</p>


          </div>
        
        </div>
      </div>

      </div>  
    </div>

    <div class="row" *ngIf="selectedChartType === 'Trends'">
      <div class="col-12">
        <app-overtime-chart
          #overtimeChart
          [showDebugInfo]="false"
          [showTooltips]="true"
          [enableCategoryToggling]="true"
          [enableDataTable]="true">
        </app-overtime-chart>
      </div>  
    </div>

    <div class="row" *ngIf="selectedChartType === 'Exports'">
      <div class="col-12">
        <app-treemap-chart
          #treemapChart
          [enableZoomPan]="true"
          [showControls]="true"
          [showDebugInfo]="false">
        </app-treemap-chart>
      </div>
    </div>

    <div class="row" *ngIf="selectedChartType === 'ECI'">
      <div class="col-12">
        <app-eci-chart
          #eciChart
          [showControls]="true"
          [showCacheStatus]="true"
          [enableTooltips]="true"
          [enableLegend]="true"
        >
        </app-eci-chart>
      </div>
    </div>



    <div class="row icons justify-content-center custom-flex" *ngIf="selectedChartType !== 'ECI'">
      <!-- Agricultural & Food Products (HS 1-24) -->
      <div class="tooltipx" 
           [class.disabled]="!isProductGroupEnabled('animal-food')"
           (click)="toggleProductGroup('animal-food')"
           style="cursor: pointer;">
        <i class="ph ph2 ph-horse ph-test" 
           [style.color]="isProductGroupEnabled('animal-food') ? '#E53E3E' : '#ccc'"></i>
        <span class="tooltiptext">Animal & Food Products</span>
      </div>
    
      <!-- Minerals (HS 25-27) -->
      <div class="tooltipx" 
           [class.disabled]="!isProductGroupEnabled('minerals')"
           (click)="toggleProductGroup('minerals')"
           style="cursor: pointer;">
        <i class="ph ph2 ph-sketch-logo ph-test" 
           [style.color]="isProductGroupEnabled('minerals') ? '#00B4D8' : '#ccc'"></i>
        <span class="tooltiptext">Minerals</span>
      </div>
    
      <!-- Chemicals & Plastics (HS 28-40) -->
      <div class="tooltipx" 
           [class.disabled]="!isProductGroupEnabled('chemicals')"
           (click)="toggleProductGroup('chemicals')"
           style="cursor: pointer;">
        <i class="ph ph2 ph-graph ph-test" 
           [style.color]="isProductGroupEnabled('chemicals') ? '#6F42C1' : '#ccc'"></i>
        <span class="tooltiptext">Chemicals & Plastics</span>
      </div>
    
      <!-- Raw Materials (HS 41-49) -->
      <div class="tooltipx" 
           [class.disabled]="!isProductGroupEnabled('raw-materials')"
           (click)="toggleProductGroup('raw-materials')"
           style="cursor: pointer;">
        <i class="ph ph2 ph-warehouse ph-test" 
           [style.color]="isProductGroupEnabled('raw-materials') ? '#28A745' : '#ccc'"></i>
        <span class="tooltiptext">Raw Materials</span>
      </div>
    
      <!-- Textiles (HS 50-63) -->
      <div class="tooltipx" 
           [class.disabled]="!isProductGroupEnabled('textiles')"
           (click)="toggleProductGroup('textiles')"
           style="cursor: pointer;">
        <i class="ph ph2  ph-scissors ph-test" 
           [style.color]="isProductGroupEnabled('textiles') ? '#FFC107' : '#ccc'"></i>
        <span class="tooltiptext">Textiles</span>
      </div>
    
      <!-- Footwear & Accessories (HS 64-67) -->
      <div class="tooltipx" 
           [class.disabled]="!isProductGroupEnabled('footwear')"
           (click)="toggleProductGroup('footwear')"
           style="cursor: pointer;">
        <i class="ph ph2 ph-sneaker ph-test" 
           [style.color]="isProductGroupEnabled('footwear') ? '#E91E63' : '#ccc'"></i>
        <span class="tooltiptext">Footwear & Accessories</span>
      </div>
    
      <!-- Stone & Glass (HS 68-71) -->
      <div class="tooltipx" 
           [class.disabled]="!isProductGroupEnabled('stone-glass')"
           (click)="toggleProductGroup('stone-glass')"
           style="cursor: pointer;">
        <i class="ph ph2 ph-hammer ph-test" 
           [style.color]="isProductGroupEnabled('stone-glass') ? '#795548' : '#ccc'"></i>
        <span class="tooltiptext">Stone & Glass</span>
      </div>
    
      <!-- Metals (HS 72-83) -->
      <div class="tooltipx" 
           [class.disabled]="!isProductGroupEnabled('metals')"
           (click)="toggleProductGroup('metals')"
           style="cursor: pointer;">
        <i class="ph ph2 ph-pipe ph-test" 
           [style.color]="isProductGroupEnabled('metals') ? '#FF9800' : '#ccc'"></i>
        <span class="tooltiptext">Metals</span>
      </div>
    
      <!-- Machinery & Electronics (HS 84-85) -->
      <div class="tooltipx" 
           [class.disabled]="!isProductGroupEnabled('machinery')"
           (click)="toggleProductGroup('machinery')"
           style="cursor: pointer;">
        <i class="ph ph2 ph-circuitry ph-test" 
           [style.color]="isProductGroupEnabled('machinery') ? '#3F51B5' : '#ccc'"></i>
        <span class="tooltiptext">Machinery & Electronics</span>
      </div>
    
      <!-- Transportation (HS 86-89) -->
      <div class="tooltipx" 
           [class.disabled]="!isProductGroupEnabled('transportation')"
           (click)="toggleProductGroup('transportation')"
           style="cursor: pointer;">
        <i class="ph ph2 ph-car ph-test" 
           [style.color]="isProductGroupEnabled('transportation') ? '#009688' : '#ccc'"></i>
        <span class="tooltiptext">Transportation</span>
      </div>
    
      <!-- Miscellaneous (HS 90-97) -->
      <div class="tooltipx" 
           [class.disabled]="!isProductGroupEnabled('miscellaneous')"
           (click)="toggleProductGroup('miscellaneous')"
           style="cursor: pointer;">
        <i class="ph ph2 ph-factory ph-test" 
           [style.color]="isProductGroupEnabled('miscellaneous') ? '#9C27B0' : '#ccc'"></i>
        <span class="tooltiptext">Miscellaneous</span>
      </div>
    
    </div>
    
    <goa-spacer vspacing="m"></goa-spacer>

    <div class="row">
      <div class="col-12">
          <app-table></app-table>
      </div>
    </div>

    

  </div>  

</goa-container>